.gallary {
  padding: 0px 80px 80px 80px;
}
.gallary .ant-image {
  width: 25%;
}
.gallary img {
  height: 250px;
}

@media (max-width: 481px) {
  .gallary {
    padding: 0px 20px 40px 20px;
  }
  .gallary .ant-image {
    width: 100%;
  }
}
@media (min-width: 482px) and (max-width: 767px) {
  .gallary {
    padding: 0px 20px 40px 20px;
  }
  .gallary .ant-image {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallary {
    padding: 0px 40px 40px 40px;
  }
}

