* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Fredoka";
  src: url(./assets/fonts/Fredoka.ttf);
}
@font-face {
  font-family: "Geometos";
  src: url(./assets/fonts/Geometos.ttf);
}
